<div class="col-xs-12 col-sm-5 pull-right">
    <div class="thumbnail">
        <% if channel.image.channel_pic.url.present?%>
        <%= link_to channel do%>
        <%=  image_tag(channel.image.channel_pic.url, class: 'img-responsive') %>
        <% end %>
        <% end %>
        <div class="caption">
            <h1 class="canaltitle">
                <center><%= link_to channel.nombre, channel %></center>
            </h1>
            <hr>
            <p style="font-size: 1.5em"><strong><%= channel.descripcion %></strong></p>
            <h6>Creado por:
                <strong>

                    <%= channel.user.nombre %>
                    <%= channel.user.apellido%></strong>
                    <%=  image_tag(channel.user.image.thumby.url, class: 'img-circle', style: 'margin-left:4px; margin-top:-5px;' ) %>
            </h6>
            <hr>
            <p><%= link_to "Visitar Canal", channel, class: "btn btn-danger" %>
            </p>
        </div>
    </div>
</div>
