<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @channel.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @channel.descripcion %>
</p>

<p>
  <strong>User:</strong>
  <%= @channel.user %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
