<%= form_for(following) do |f| %>
  <% if following.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(following.errors.count, "error") %> prohibited this following from being saved:</h2>

      <ul>
      <% following.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :followed_id %>
    <%= f.number_field :followed_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
