<%= bootstrap_devise_error_messages! %>
<div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
    <div class="panel panel-default devise-bs">
        <div class="panel-heading">
            <h4>
                <%= t('.registro_de_usuario', default: 'Registro de Usuario') %>
            </h4>
        </div>
        <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
            <div class="form-group">
                <%= f.label :cedula %>
                <%= f.text_field :cedula, autofocus: true, class: 'form-control', id: "cedulaidentidad" %>
            </div>
            <div class="form-group">
                <%= f.label :nombre %>
                <%= f.text_field :nombre, autofocus: true, class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= f.label :apellido %>
                <%= f.text_field :apellido, class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= f.label :imagen_de_perfil %>
                <%= f.file_field :image %>
            </div>
            <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= f.label :sexo %>
            </br>
            <%= f.select "sexo", options_for_select([["Masculino"], ["Femenino"]]), {}, {required: 'true', class: 'form-control'} %>
        </div>
        <div class="form-group">
            <%= f.label :descripción_personal %>
            <%= f.text_area :descripcion, :rows => 4, class: 'form-control' %>
        </div>
        <label for="select" class=" control-label">Areas de Conocimiento</label>
        <div class="form-group form-control" style="height: 120px; overflow-y: scroll;">

            <%= f.collection_check_boxes :area_ids, Area.all, :id, :nombre do |b| %>
            <div class="collection-check-box">
                <%= b.check_box %>
                <%= b.label %>
            </div>
            <% end %>
        </div>
        <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :confirma_tu_password %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <%= f.submit t('.Registrar', default: 'Registrar'), class: 'btn btn-success' %>
    </div>
</div>
<div class="links-inicio">
    <%= render 'devise/shared/links' %>
</div>
</div>
<% end %>

<script>
var num = <%= User.all.count %>;

$("#subscribe-form-submit").click(function () {
    var bool = "a";
    var cedula = $("#cedulaidentidad").val();

    <% @json.each do |u|%>

    if (cedula == "<%=u[" cedula "]%>") {

        if (num == 0) {
            bool = "c";
        } else {
            <% User.all.each do |a|%>
            <%if a.cedula == u["cedula"]%>
            bool = "b";
            <%break%>
            <%else%>
            bool = "c";
            <%end%>
            <%end%>
    }

}

<%end%>

if (bool == "c") {
    alert("Puede registrarlo");
} else if (bool == "b") {
    alert("Ya existe");
    return false;
} else if (bool == "a") {
    alert("No puede registrarlo");
    return false;
}

});
</script>
