<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand logo-estilo" href="/">
                <i class="fa fa-university" aria-hidden="true"></i>CAMPUS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <% if user_signed_in? %>
            <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                    <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
                    <%= text_field_tag :search, params[:search], placeholder: "Encuentra a más amigos...", class: 'form-control barra-busqueda' %>
                    <span class="input-group-btn">
                        <%= submit_tag "Buscar", :name => nil, class: 'btn btn-success' %>
                    </span>
                    <% end %>
                </div>

            </form>

            <% end %>

            <ul class="nav navbar-nav navbar-right">

                <% if user_signed_in? %>
                <li>

                    <%= link_to perfil_index_path do %>
                    <% if current_user.image.thumby.url.present?%>
                    <%=  image_tag(current_user.image.thumby.url, class: 'img-circle', style: 'margin-right:8px; margin-top:-6px;' ) %><% end %>
                    <strong><%= current_user.nombre %>
                    </strong>
                    <% end %>

                </li>
                <li>
                    <%= link_to fa_icon("Cerrarsesion", text: "Cerrar Sesion", class: "fa-sign-out"), destroy_user_session_path, :method => :delete %>
                </li>
            <% else %>
                <li>
                    <% unless current_page?(about_index_path) %>
                    <%= link_to fa_icon("Sobrenosotros", text: "Sobre Nosotros", class: "fa-info-circle"), about_index_path %>
                    <% end %>
                </li>
                <% end %>

                <%if user_signed_in? %>
                <li class="<%= 'active' if params[:controller] == 'welcome' %>, visible-xs">
                    <%= link_to welcome_index_path do %>
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span style="margin-left:10px;">Timeline
                    </span>
                    <% end %>
                </li>
                <li class="<%= 'active' if params[:controller] == 'channels'%>, visible-xs ">
                    <%= link_to channels_path do %>
                    <i class="fa fa-th-large" aria-hidden="true"></i>
                    <span style="margin-left:10px;">Canales</span>
                    <% end %>
                </li>
                <% if request.path == "/chanel/index" %>
                <li class="<%= 'active' if params[:controller] == 'chanel' %>, visible-xs">
                    <%= link_to chanel_index_path do %>
                    <i class="fa fa-th-large " style="font-size: 15px; margin-left: 30px;" aria-hidden="true"></i>
                    <span style="margin-left:10px; font-size: 15px;">Público</span>
                    <% end %>
                </li>
                <% end %>

                <% if current_user.email == 'pm@gmail.com' %>
                <li class="<%= 'active' if params[:controller] == 'areas' %>, visible-xs">
                    <%= link_to areas_path do %>
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <span style="margin-left:10px;">Áreas de conocimiento</span>
                    <% end %>
                </li>
                <% end %>
                <% end %>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
