<%= bootstrap_devise_error_messages! %>
  
    <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
      <div class="panel panel-default devise-bs">
        <div class="panel-heading">
          <h4>
            <%= t('.olvidaste_tu_contraseña', default: '¿Olvidaste tu contraseña?') %>
          </h4>
        </div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: "form" }) do |f| %>
            <div class="form-group">
              <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>
            <%= f.submit t('.enviar__instrucciones_de_recuperación', default: 'Enviar instrucciones de recuperación'), class: 'btn btn-success btn-block' %>
              <% end %>
        </div>
      </div>
      <div class="links-inicio">
        <%= render 'devise/shared/links' %>
      </div>
    
  </div>