<div class="col-xs-12 col-sm-8 col-md-6 col-md-offset-4 ">

            <div class="panel panel-default" id="posts">

                <div class="panel-body">
                     <%= form_for(@post, remote: true, authenticity_token: true) do |f| %>

                    <span>
                        <h1 class="panel-title pull-left" style="font-size:30px;"> <%= current_user.nombre %> <small><%= current_user.apellido %></small> <i class="fa fa-check text-success" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="<%= current_user.nombre %> is sharing with you"></i></h1>
                        <div class="dropdown pull-right" type="button" id="dropdownMenu1" aria-haspopup="true" aria-expanded="true">

                         <%= f.submit t('.publicar', default: 'Publicar'), class: 'btn btn-success' %>
                        </div>

                    </span>
                    <br>
                    <br><br>
                    <div class="media-body">
                           <div class="form-group">
              <%= f.text_area :contenido, autofocus: true, class: 'form-control post_content',  rows: '4', placeholder: 'Comparte tus conocimientos...'  %>
          </div>
                    </div>
                    <span class="pull-left btn btn-xs btn-warning btn-file glyphicon glyphicon-picture">

                   <%= f.file_field :image %>

                    </span>
                <% end %>
                </div>

            </div>
            <div id="container_posts">
                <%= render @posts %>
            </div>
            <center>
                <%= will_paginate @posts, renderer: BootstrapPagination::Rails, previous_label: "Nuevos", next_label: "Viejos", inner_window: 1, outer_window: 0 %>
            </center>
        </div>
