<div class="container">
<div class="col-xs-12 col-sm-6 col-md-10 col-sm-offset-3 col-md-offset-2">
<h1>Áreas</h1>

 <div class="panel-body">
 
 <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <tr class="success">
      <th>Nombre</th>
      <th>Descripción</th>
      <th colspan="3"></th>
     
    </tr>    
   
  </thead>
  

  </div>
    <% @areas.each do |area| %>
      <tr>
        <td><%= area.nombre %></td>
        <td><%= area.descripcion %></td>
        <td><%= link_to 'Mostrar', area %></td>
        <td><%= link_to 'Editar', edit_area_path(area) %></td>
        <td><%= link_to 'Eliminar', area, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Área', new_area_path %>

</div>
</div>