<p id="notice"><%= notice %></p>
<div class="col-xs-11 col-sm-9 col-md-10 col-xs-offset-2 col-sm-offset-4 col-md-offset-3">
<p>
  <strong>Nombre:</strong>
  <%= @area.nombre %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @area.descripcion %>
</p>

<%= link_to 'Editar', edit_area_path(@area) %> |
<%= link_to 'Atrás', areas_path %>
</div>