<div class="panel panel-default"  id="post_<%= post.id %>">

                <div class="panel-body">
                    <div class="pull-left">
                        <a href="#">
                            <% if current_user.image.thumby.url.present?%>
                         <%=  image_tag(current_user.image.thumb.url, class: 'img-circle', style: 'margin-right:8px; margin-top:-5px;' ) %> <% end %>

                        </a>
                    </div>
                    <h4><a href="#" style="text-decoration:none;"><strong><%= post.user.nombre %></strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> <%= time_ago_in_words(post.created_at) %></i></a></small></small></h4>
                    <span>
                        <div class="navbar-right">
                         <div class="dropdown">
                                <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>

                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
<li type="button" data-toggle="modal" data-target="#myupdatepost_<%= post.id%>"><i class="fa fa-pencil" style="margin-left:25px"></i><span style="margin-left:5px">Editar</span></li>
                                    <li role="separator" class="divider"></li>
                                   <li> <%= link_to post, method: :delete, remote: true, data: { confirm: '¿Estás seguro que deseas eliminar esta publicación?' } do %>
                                     <%= fa_icon "trash", text: "Eliminar" %>
                                        <% end %>
                                   </li>
                                </ul>
                            </div>
                        </div>
                    </span>
                    <hr>
                    <div class="post-content">
                       <p> <%= post.contenido %></p>
                        <% if post.image.present? %>
                        <div class="attachment">
                          <%= image_tag post.image.thumb.url %>
                        </div>
                      <% end %>

                    </div>
                    <hr>
                    <div>
                        <div class="pull-right btn-group-xs">

                      <%= link_to like_post_path(post.id), method: :put, remote: true, class: "btn btn-default" do %>
                       <span class="glyphicon glyphicon-heart"></span> <%= post.get_upvotes.size %>
                       <% end %>


                            <span class="pull-right" style="margin-left: 8px;">
                       <%= social_share_button_tag(@post.id,'data-twitter-title' => 'Chequea mi publicación en Campus:') %>
                    </span>
                        </div>

                        <br>
                    </div>
                    <hr>
                    <div class="media">
                        <div class="pull-left">

                            <a href="#">
                            <% if current_user.image.thumby.url.present?%>
                         <%=  image_tag(current_user.image.thumby.url, class: 'img-circle', style: 'margin-right:-5px; margin-left:3px; margin-top:6px' ) %> <% end %>

                            </a>
                        </div>

                        <div class="media-body">
                            <textarea class="form-control" rows="1" placeholder="Comenta"></textarea>
                        </div>
                    </div>
                </div>
            </div>

<!--- MODAL -->


<!-- Modal -->
<%= form_for(post, :method => :put, remote: true) do |f| %>
<div class="modal fade" id="myupdatepost_<%= post.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Editar publicación</h4>
      </div>
      <div class="modal-body">
         <div class="form-group">
            <%= f.text_area :contenido, class: 'form-control' %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="myupdatebutton_<%= post.id %>" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
        <%= submit_tag "Guardar Cambios", class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
<% end %>

