<!DOCTYPE html>
<html>
<head>
  <title>Campus</title>
  <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link href="https://fonts.googleapis.com/css?family=Cinzel:700" rel="stylesheet">
</head>

<body>
  <!-- Mensajes Emergentes -->
  <% if notice %>
    <div id="notice_wrapper">
      <p class="notice">
        <%= notice %>
      </p>
    </div>
    <% elsif alert %>
      <div id="alert_wrapper">
        <p class="alert">
          <%= alert %>
        </p>
      </div>
      <% end %>
        <!-- navbar -->
        <%= render "partials/navbar"%>
          <!-- Container General -->
          <div class="container-fluid" style="margin-top: 60px;">
            <div class="row">
            <%= yield %>
              <!-- sidebar -->
              <% if user_signed_in? %>
                <%= render "partials/sidebar" %>
                  <% end %>
            </div>            
          </div>
          <% if !user_signed_in? %>
            <%= render "partials/footer"%>
          <% end %>
</body>

</html>