<!DOCTYPE html>
<html>

    <head>
        <title>Campus</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link href="https://fonts.googleapis.com/css?family=Cinzel:700" rel="stylesheet">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#212f3d">
    </head>

    <body <% if user_signed_in? && request.path != "/about/index" %> class="blanco" <% end %>>
        <!-- Mensajes Emergentes -->
        <% if notice %>
        <div id="notice_wrapper">
            <p class="notice">
                <%= notice %>
            </p>
        </div>
        <% elsif alert %>
        <div id="alert_wrapper">
            <p class="alert">
                <%= alert %>
            </p>
        </div>
        <% end %>
        <!-- navbar -->
        <%= render "partials/navbar"%>
        <!-- Container General -->
        <div class="container-fluid" style="margin-top: 60px;">
            <div class="row">
                <%= yield %>
                <!-- sidebar -->
                <% if user_signed_in? && request.path != "/about/index"%>
                <%= render "partials/sidebar" %>
                <% end %>
            </div>
        </div>

    </body>

</html>
