<!DOCTYPE html>
<html>
  <head>
    <title>Campus</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
 <%= render "partials/navbar"%> 
 
 <%= render "partials/sidebar"%> 
  <div class="container" style="margin-top: 60px;">
  <% flash.each do |key, value| %>
    <div class="alert alert-dismissible alert-danger alert-<%= key %>">
     <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= value %>
    </div>
  <% end %>  
   
      <%= yield %>
    </div>
   </div>   
  </body>
</html>
